body{
  width: 100%;
  margin: 0;
  text-align: center;
  font-family: 'Akaya Telivigala', cursive;
}
.picdown{
  font-size: 1.5rem;

}
p{
  color:#40514E;

}
.ctag{
  color: #e3dfc8;
  padding: 20px 0;
  font-size: 0.75rem;
}
.dot{
  margin-top: 0;
  margin-bottom: 50px;
  border-color: #e7dec8;
  border-style: none;
border-top-style: dotted;
width: 5%;
border-width: 5px;
}

.skill-row{
  width: 50%;
  margin: 100px auto;
  text-align: left;
  line-height: 2;
}

.sm1{
  width: 30%;
  float: left;
  margin-right: 70px;
}
.sm2{
  width: 30%;
  float: right;
  margin-left: 70px;

}

.pic{
  width: 300px;

}

.qwerty{
  font-weight: normal;
}
.zaq{
  margin-top: 50px;
}
h1{
font-family: 'Sacramento', cursive;
  margin: auto;
  font-size: 4.625rem;
margin-top: 50px;
color: #66BFBF;
}
h2{
  font-size: 2.5rem;
  color: #66BFBF;
  padding-bottom: 20px;
}
h3{
  color: #11999E;

}
.footer-link
{
  color: #e4fbff;
  font-family: 'Akaya Telivigala', cursive;
  margin: 10px 20px;
  text-decoration: none;
}
a:hover{
  color: #e7dec8;
}
.top{
  padding-top: 100px;
  position: relative;
  height: 100%;
  width: 100%;
  background-color: #e4fbff;
}
.profile{
  margin: 70px 0;
}

.bottom_cloud{
  position: absolute;
  bottom: 300px;
}
.top_cloud{
  padding-top: 100px;
  position: absolute;
  top: 35px;
  left: 1010px;
}
.btn {
  margin: 30px auto 80px auto;
   background: #11CDD4;
   background-image: -webkit-linear-gradient(top, #11CDD4, #11999E);
   background-image: -moz-linear-gradient(top, #11CDD4, #11999E);
   background-image: -ms-linear-gradient(top, #11CDD4, #11999E);
   background-image: -o-linear-gradient(top, #11CDD4, #11999E);
   background-image: -webkit-gradient(to bottom, #11CDD4, #11999E);
   -webkit-border-radius: 8px;
   -moz-border-radius: 8px;
   border-radius: 8px;
   color: #FFFFFF;
     font-family: 'Akaya Telivigala', cursive;
   font-size: 19px;
   font-weight: 100;
   padding: 15px;

   text-shadow: 1px 1px 20px #000000;
   border: solid #337FED 1px;
   text-decoration: none;
   display: inline-block;
   cursor: pointer;
   text-align: center;
}

.btn:hover {
   border: solid #337FED 1px;
   background: #30E3CB;
   background-image: -webkit-linear-gradient(top, #30E3CB, #2BC4AD);
   background-image: -moz-linear-gradient(top, #30E3CB, #2BC4AD);
   background-image: -ms-linear-gradient(top, #30E3CB, #2BC4AD);
   background-image: -o-linear-gradient(top, #30E3CB, #2BC4AD);
   background-image: -webkit-gradient(to bottom, #30E3CB, #2BC4AD);
   -webkit-border-radius: 8px;
   -moz-border-radius: 8px;
   border-radius: 8px;
   text-decoration: none;
}
.bottom-container{
  background-color: #66BFBF;
  padding: 50px 0 20px;
}
